# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

*.cpp    diff=cpp whitespace=trailing-space,tabwidth=4
*.h      diff=cpp whitespace=trailing-space,tabwidth=4
